.App2 {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App2-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App2-logo {
    animation: App2-logo-spin infinite 20s linear;
  }
}

.App2-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.App2-link {
  color: #61dafb;
}

@keyframes App2-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
