html {
  min-height: 100vh;
}

.Main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Main-content {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

#MicrofrontendApp1-microfrontend-container,
#MicrofrontendApp2-microfrontend-container{
  margin: 10px;
  border-radius: 10px;
  overflow: auto;
}